# LAMMPS run outputs - large, regenerate them, don't commit
*.lammpstrj
*.restart
*.restart.*
*.restart1
*.restart2
*.data
log.lammps
*.log


# postprocessing outputs
*.csv
*.png

# python
__pycache__/
*.pyc
.ipynb_checkpoints/

# os
.DS_Store
